openapi: 3.0.0
info:
  title: FolkSoul API
  description: Here goes description
  version: 0.1.9

servers:
  - url: https://folksoul-api.nina.redberryinternship.ge/
    description: production server
  - url: http://localhost:3000/
    description: local server
    
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

paths:
  /auth:
    post:
      tags:
        - Auth
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                username:
                  type: string
                password:
                  type: string
              required:
                - username
                - password
              example:
                username: nina
                password: nina
      responses:
        '200':
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  token:
                    type: string
                    example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VybmFtZSI6Im5pbmEiLCJpYXQiOjE2NTg4MjI1MDYsImV4cCI6MTY1ODgyOTcwNn0.YrCi-u5goplJekTCual5ilVrHsU17_TWu68AYG68beY

  /band-members:
    get:
      tags:
        - Band Members
      responses:
        '200': 
          description: Returns a list of band members.
          content:
            application/json:
              schema: 
                type: array
                items: 
                  type: object
                  properties:
                    id: 
                      type: string
                    name: 
                      type: string
                    instrument: 
                      type: string
                    orbitLength: 
                      type: number
                    color: 
                      type: string
                    biography: 
                      type: string
                    image:
                        type: array
                        items:
                          type: object
                          properties:
                            imageUrl: 
                              type: string
                            memberId:
                              type: string
                  example:
                    _id: 62b86377ad93686e784f8ea2
                    name: ნინა
                    instrument: პიანინო
                    orbitLength: 600
                    color: '#453454'
                    biography: მე ვარ ნინა
                    image: images/new-image.png'
                     

                  
                    
  /band-member/{id}:
   get:
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
            minimum: 1
          description: Band Member ID
      tags:
        - Band Members
      security:
        - bearerAuth: []
      responses:
        '200': 
          description: Returns band member's detailed information.
          content:
            application/json:
              schema: 
                type: object
                properties:
                  bandMember:
                    type: object
                    properties:
                      name: 
                        type: string
                      instrument: 
                        type: string
                      orbitLength: 
                        type: number
                      color: 
                        type: string
                      biography: 
                        type: string
                      image:
                        type: array
                        items:
                          type: object
                          properties:
                            imageUrl: 
                              type: string
                            memberId:
                              type: string
              example:
                bandMember:
                    _id: 62b86377ad93686e784f8ea2
                    name: ნინა
                    instrument: პიანინო
                    orbitLength: 450
                    color: '#453454'
                    biography: მე ვარ ნინა
                    image: images/new-image.png


                    

  /new-member:
    post:
      tags:
        - Band Members
      security:
        - bearerAuth: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                instrument:
                  type: string
                orbitLength:
                  type: string
                color:
                  type: string
                biography:
                  type: string
              required:
                - name
                - instrument
                - orbitLength
                - color
                - biography
              example:
                name: ნინა
                instrument: პიანინო
                orbitLength: 400
                color: '#453454'
                biography: მე ვარ ნინა

      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: "Band member Created Successfully"
                  brandMember:
                    type: object
                    properties:
                      name: 
                        type: string
                        example: "ნინა"
                      instrument: 
                        type: string
                        example: "პიანინო"
                      orbitLength: 
                        type: string
                        example: 300
                      color: 
                        type: string
                        example: '#453454'
                      biography: 
                        type: string
                        example: მე ვარ ნინა
                      image: 
                        type: string
                        example: ''

  
  /edit-member/{id}:
     patch:
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
            minimum: 1
          description: The band member ID
      tags:
        - Band Members
      security:
        - bearerAuth: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                instrument:
                  type: string
                orbitLength:
                  type: string
                color:
                  type: string
                biography:
                  type: string
                image:
                  type: array
              required:
                - name
                - instrument
                - orbitLength
                - color
                - biography
              example:
                name: nina
                instrument: kkk
                orbitLength: 500
                color: '#453454'
                biography: biography
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: "Band member updated!"
                  updatedBandMember:
                    type: object
                    properties:
                      name: 
                        type: string
                        example: "ნინა"
                      instrument: 
                        type: string
                        example: "პიანინო"
                      orbitLength: 
                        type: string
                        example: 300
                      color: 
                        type: string
                        example: '#453454'
                      biography: 
                        type: string
                        example: მე ვარ ნინა
                      image: 
                        type: array
                        example: images/new-image.png
  
  /delete-member/{id}:
    delete:
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
            minimum: 1
          description: The band member ID
      tags:
        - Band Members
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Deleted
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: "Band member was deleted successfully"

  /change-avatar:
    post:
      summary: Upload avatar
      tags:
        - Image Uploads
      requestBody:
            content:
              multipart/form-data:
                schema:
                  type: object
                  properties:
                    memberId:
                      type: string
                    image:
                      type: string
                      format: binary
                example:
                  memberId: 62c1c35b55e82e76bf519b1d
                  image: filename
                 
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Image was uploaded Successfully

  /change-social-icon:
    post:
      summary: Upload Social Icon
      tags:
        - Image Uploads
      requestBody:
            content:
              multipart/form-data:
                schema:
                  type: object
                  properties:
                    socialId:
                      type: string
                    image:
                      type: string
                      format: binary
                  example:
                    socialId: 62c536af82fa198e6148758c
                    image: filename
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Image was uploaded Successfully
 
  /change-band-logo:
    post:
      summary: Upload Band Logo
      tags:
        - Image Uploads
      requestBody:
            content:
              multipart/form-data:
                schema:
                  type: object
                  properties:
                    bandId:
                      type: string
                    image:
                      type: string
                      format: binary
                  example:
                    bandId: 62b88c20f75abbb01ab2f5b5
                    image: filename
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Image was uploaded Successfully

  /social-media:
    get:
      tags:
        - Social Media 
      responses:
        '200': 
          description: Returns a list of social media.
          content:
            application/json:
              schema: 
                type: array
                items: 
                  type: object
                  properties:
                    name: 
                      type: string
                    url: 
                      type: string
                    image:
                        type: array
                        items:
                          type: object
                          properties:
                            _id:
                              type: string
                            imageUrl: 
                              type: string
                            socialId:
                              type: string
                  example:
                    _id: 62b9cf91d2ee7fff6bf3b7cb
                    name: facebook
                    url: https://www.facebook.com/
                    image: images/new-image.png
                      
                   

                  
                    
  /social-media/{id}:
   get:
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
            minimum: 1
          description: Social Media id
      tags:
        - Social Media
      security:
        - bearerAuth: []
      responses:
        '200': 
          description: Returns social media's detailed information.
          content:
            application/json:
              schema: 
                type: object
                properties:
                  socialLink:
                    type: object
                    properties:
                      name: 
                        type: string
                      url: 
                        type: string
              example:
                socialLink:
                    _id: 62b9cf91d2ee7fff6bf3b7cb
                    name: facebook
                    url: https://www.facebook.com/
                    image: images/new-image.png
                      
                    

  /add-social:
    post:
      tags:
        - Social Media
      security:
        - bearerAuth: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                url:
                  type: string
              required:
                - name
                - url
              example:
                    name: facebook
                    url: https://www.facebook.com/
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: "Social media Created Successfully"
                  socialLink:
                    type: object
                    properties:
                      name: 
                        type: string
                        example: Facebook
                      url: 
                        type: string
                        example: https://facaebook.com
                      image: 
                        type: string
                        example: ''

  
  /edit-social/{id}:
     patch:
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
            minimum: 1
          description: The social media ID
      tags:
        - Social Media
      security:
        - bearerAuth: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                url:
                  type: string
              required:
                - name
                - url
              example:
                    name: facebook
                    url: https://www.facebook.com/
      responses:
        '200':
          description: updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: "Social info updated!"
                  socialLink:
                    type: object
                    properties:
                      name: 
                        type: string
                        example: Facebook
                      url: 
                        type: string
                        example: https://facaebook.com
                      image: 
                        type: string
                        example: ''

  
  /delete-social/{id}:
    delete:
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
            minimum: 1
            description: The social media ID
      tags:
        - Social Media
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Deleted
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: "Social media was deleted successfully"

  /bands:
    get:
      tags:
        - About Band
      responses:
        '200': 
          description: Returns a band.
          content:
            application/json:
              schema: 
                  type: object
                  properties:
                    _id: 
                      type: string
                    about: 
                      type: string
                    image: 
                      type: array
                      items:
                          type: object
                          properties:
                            imageUrl: 
                              type: string
                            bandId:
                              type: string     
                  example:
                    _id: 62b88c20f75abbb01ab2f5b5
                    about: ბენდის შესახებ
                    image: images/new-image.png
                     

  /edit-band/{id}:
   patch:
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
            minimum: 1
          description: Band id
      tags:
        - About Band
      security:
        - bearerAuth: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                about:
                  type: string
              required:
                - about
              example:
                    about: this is a good band
      responses:
            '200':
              description: Updated
              content:
                application/json:
                 schema:
                  type: object
                  properties:
                    message:
                      type: string
                      example: "Band info updated!"
                    socialLink:
                     type: object
                     properties:
                      about: 
                        type: string
                        example: ჩვენ ვართ მაგარი ბენდი
                      image: 
                        type: string
                        example: images/1658825780661-Beqa.png"

        
        
        
        
